* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Utils */
.important {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.content {
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.clr {
    clear: both;
}
/* Main Page */
#main-page {
    height: 100vh;
    background: url('../img/romeio-paul-eldVEdvj7R4-unsplash.jpg') no-repeat center center / cover;
    font-family: 'Alice', serif;
}
#main-intro {
    text-align: center;
    float: left;
    width: 50%;
    height: 100vh;
    padding-top: 40vh;
}
#intro-content {
    background-color: #464655;
    color: #fff;
    border-radius: 5rem;
    margin-left: 0.5rem;  
    padding: 1.3rem 1.3rem;
    opacity: 0.9;
    height: 45%;
}

/* NavBar */
#navbar {
    float: right;
    width: 50%;
    padding-top: 30vh;
    padding-left: 5vh;
    height: 100vh;
}
#autumn {
    float: left;
    
    background-color:#FF9F24;
    border-radius: 0.75rem 0 0 0;

}
#winter {
    float: left;
    
    background-color:#D2FFFF;
    border-radius: 0 0.75rem 0 0;
}
#spring {
    float: left;
    
    background-color:#F9F172;
    border-radius: 0 0 0 0.75rem;
}
#summer {
    float: left;
    
    background-color:#F74C4F;
    border-radius: 0 0 0.75rem 0;
}

#navbar-content .box {
    padding: 1.2rem 1.8rem;
    width: 50%;
    height: 25vh;
    /* padding:  1.2rem 0; */
}
#navbar-content {
    font-size: 1.2rem;
}

#navbar-content a {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
#autumn a {
    color: #FAEFFE; 
}

#autumn a:hover {
    text-shadow: #FAEFFE 2px 0 20px;
}
#autumn p {
    color: #1F0318;
}

#winter a {
    color: #FE6D73;
}

#winter a:hover {
    text-shadow: #FE6D73 2px 0 20px;
}

#winter p {
    color: #227C9D;
}

#spring a {
    color: #69A2B0;
}

#spring a:hover {
    text-shadow: #69A2B0 2px 0 20px;
}

#spring p {
    color: #320D6D;
}

#summer a {
    color: #FFFFC7;
}

#summer a:hover {
    text-shadow: #FFFFC7 2px 0 20px;
}

#summer p {
    color: #E7E6F7;
}

/* ABOUT ME */
#about-page {
    font-family: 'Alice', serif;
}
#about-header {
    position: relative;
    width:100%;
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/oc3cr2o4.png') no-repeat center center/cover;
    height: 15rem;
    color: white;
}

#about-header .back-button {
    position: absolute;
    font-size: 3rem;
    left: 2%;
    top: 5%;
}

#about-header .back-button a {
    color: #E0DFD5;
}

#about-header .back-button a:hover {
    color: #8D8A68;
}

#about-header p {
    padding: 10vh 0;
    font-family: 'Alice', serif;
    font-size: 6rem;
}

#about-container {
    background: url('../img/autumn_container.webp') no-repeat center center/ cover;
    min-height:600px;
    padding-top: 1%;
    padding-bottom: 5%;
}

#about-container .box {
    background-color: #FFEED6;
    min-height: 200px;
    margin: 5% 17% 0% 17%;
    opacity: 0.9;
    border-radius: 20px 20px 0 0;
}

#about-container h1 {
    text-align: center;
    color: #6883BA;
    font-size: 3rem;
}

#about-container .content {
    padding-top: 2.5%;
    padding-bottom: auto;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 3rem;
    font-size: 2rem;
    list-style-type: none;
}

#box-basic-info {
    min-height: 60vh !important;
    /* margin-bottom: 40px; */
}

#box-basic-info img {
    position: relative;
    width: auto;
    height: 45vh;   
    float: right;
}

#box-basic-info p .list-highlight {
    color: #D36060;
    font-weight: bold;
}


/* Thomas's Bizarre Projects */
#project-page {
    font-family: 'Alice', serif;
}
#project-header {
    position: relative;
    width:100%;
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1507181179506-598491b53db4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80') no-repeat center center/cover;
    height: 15rem;
    color: white;
}

#project-header .back-button {
    position: absolute;
    font-size: 3rem;
    left: 2%;
    top: 5%;
}

#project-header .back-button a {
    color: #E0DFD5;
}

#project-header .back-button a:hover {
    color: #8D8A68;
}

#project-header p {
    padding: 10vh 0;
    font-family: 'Alice', serif;
    font-size: 6rem;
}

#project-container {
    background: url('https://images.unsplash.com/photo-1516811575088-1de3bbf3563a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1469&q=80') no-repeat center center/ cover;
    min-height:600px;
    padding-top: 1%;
    padding-bottom: 5%;
}

#project-container .box {
    background-color: #CEE8F2;
    min-height: 150px;
    margin: 5% 17% 0% 17%;
    opacity: 0.9;
    border-radius: 20px 20px 0 0;
}

#project-container h1 {
    text-align: center;
    font-size: 3rem;
}

#project-container .content {
    padding-top: 2.5%;
    padding-bottom: auto;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 3rem;
    font-size: 2rem;
    list-style-type: none;
}

#box-project {
    min-height: 40vh !important;
    /* margin-bottom: 40px; */
}

#box-project img {
    position: relative;
    width: auto;
    height: 45vh;   
    float: right;
}

#box-project ul {
    padding-top: 1%;
    padding-left: 4%;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #2C2A4A;
}

#box-project h1 a {
    /* font-size: 1.5rem; */
    text-decoration: none;
    color: #912F40;
}
#box-project h1 a:hover {
    color: #5C1E28;
}

/* Hope & Dreams */
#dreams-page {
    font-family: 'Alice', serif;
}
#dreams-header {
    position: relative;
    width:100%;
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1463663090918-4d8338918803?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1931&q=80') no-repeat center center/cover;
    height: 15rem;
    color: white;
}

#dreams-header .back-button {
    position: absolute;
    font-size: 3rem;
    left: 2%;
    top: 5%;
}

#dreams-header .back-button a {
    color: #E0DFD5;
}

#dreams-header .back-button a:hover {
    color: #8D8A68;
}

#dreams-header p {
    padding: 10vh 0;
    font-family: 'Alice', serif;
    font-size: 6rem;
}

#dreams-container {
    background: url('https://images.unsplash.com/photo-1529697216570-f48ef8f6b2dd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80') no-repeat center center/ cover;
    min-height:600px;
    padding-top: 1%;
    padding-bottom: 5%;
}

#dreams-container .box {
    background-color: #E6C79C;
    min-height: 150px;
    margin: 5% 17% 0% 17%;
    opacity: 0.9;
    border-radius: 20px 20px 0 0;
}

#dreams-container h1 {
    text-align: center;
    font-size: 3rem;
    color: #56445D;
}

#dreams-container .content {
    padding-top: 2.5%;
    padding-bottom: auto;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 3rem;
    font-size: 2rem;
    list-style-type: none;
}

#box-dreams {
    min-height: 40vh !important;
    /* margin-bottom: 40px; */
}

#box-dreams img {
    position: relative;
    width: auto;
    height: 45vh;   
    float: right;
}

#box-dreams ul {
    padding-top: 1%;
    padding-left: 4%;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #2C2A4A;
}


/* Contact Me */
#contact-page {
    font-family: 'Alice', serif;
}
#contact-header {
    position: relative;
    width:100%;
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1514810771018-276192729582?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80') no-repeat center center/cover;
    height: 15rem;
    color: white;
}

#contact-header .back-button {
    position: absolute;
    font-size: 3rem;
    left: 2%;
    top: 5%;
}

#contact-header .back-button a {
    color: #E0DFD5;
}

#contact-header .back-button a:hover {
    color: #8D8A68;
}

#contact-header p {
    padding: 10vh 0;
    font-family: 'Alice', serif;
    font-size: 6rem;
}

#contact-container {
    background: url('https://images.unsplash.com/photo-1535392432937-a27c36ec07b5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80') no-repeat center center/ cover;
    min-height:600px;
    padding-top: 1%;
    padding-bottom: 5%;
}

#contact-container .box {
    background-color: #C2F9BB;
    min-height: 150px;
    margin: 5% 30% 0% 30%;
    opacity: 0.9;
    border-radius: 20px 20px 0 0;
}

#contact-container h1 {
    text-align: center;
    font-size: 3rem;
    color: #20063B;
}

#contact-container .content {
    padding-top: 2.5%;
    padding-bottom: auto;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 3rem;
    font-size: 2rem;
    list-style-type: none;
}

#box-contact {
    min-height: 40vh !important;
    /* margin-bottom: 40px; */
}

#box-contact img {
    position: relative;
    width: auto;
    height: 45vh;   
    float: right;
}

#box-contact ul {
    padding-top: 1%;
    padding-left: 4%;
    font-size: 3rem;
    line-height: 5rem;
    text-align: center;
    color: #9AD1D4;
    list-style-type: none;
}

/* Media Queries */
@media (max-width: 1000px) {
    /* main page */
    #main-intro {
        float: none;
        width: 100%;
        /* height: 100vh;*/
        height: auto;
        padding-top: 5vh;
    }
    #intro-content {
        margin-left: 0;
    }
    #navbar {
        float: none;
        width: 100%;
        padding-top: 5vh;
        padding-left: 0vh;
        height: auto;
    }
    #autumn, #winter, #summer, #spring {
        float: none; 
    }
    #navbar-content .box {
        border-radius: 0rem;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: auto;
    }
}

